@font-face {
    font-family: "MyFont"; /* Name you give to the font */
    src: url("./ExpoArabic-Book.ttf") format('truetype'); /* Path to TTF file */
    font-weight: normal; /* Optional: Set font weight */
    font-style: normal;  /* Optional: Set font style */
  }
  body{
    font-family: MyFont;
    direction: rtl;
  }
  .containerlist {
    padding-right: 35px;
  }
  .checkmarklist {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1000px){
.carousel-caption-text {
    position: absolute;
    top: 34%;
    /* left: 50%; */
    right: unset;
}
/* .carousel-caption {
    position: absolute;
    right: unset;
    left: unset;
    bottom: 20px;
    left: unset;} */
}
.plus-btn{
  background-color: #e88915;
  border-radius: 5px 0px 0px 5px !important;
  color: #ffffff;
}
.minus-btn{
  background-color: #d7d7d7;
  border-radius: 0 5px 5px 0 !important;
  color: #727070;
}


form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  border: 1px solid #f89319;
 right: unset;
  left: 7px!important;
}
.edit-padding i{
  padding-left: 10px;
}

.carousel-caption-text, .carousel-caption-text-one {
  /* left: auto; */
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.carousel-caption-text-side {
  /* left: 10%; */
  right: unset;
  text-align: end !important;
}
/* .favorite-products-dropdown.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -120 !important;
  right: unset;
} */
.cart-dropdown {
  right: unset !important;
  left: -60px;
}
.navbar-brand, .navbar-collapse{
  order: 1;
}
.cart-fav{
  order: 2;
}
@media screen and (max-width: 992px){
  .navbar-brand, .navbar-collapse{
    order: unset;
  }
  .cart-fav{
    order: unset;
  }
}


.favorite-products-dropdown.dropdown-menu.cart-dropdown {
  position: absolute;
  top: 100%;
  right: unset;
  left: -80px!important;
}
.favorite-products-dropdown.dropdown-menu.favourit-dropdowm{
  position: absolute;
  top: 100%;
  right: unset;
  left: -30px!important;
}